# Cloud PostgreSQL Connection URI
PG_CONNECTION_STRING=postgres://username:password@hostname:5432/databasename?sslmode=require

# Google SMTP (Gmail) Email Server Details
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-character-google-app-password
SMTP_FROM="Hardware Inventory <your-email@gmail.com>"
